.castTitle {
  color: orange;
  font-weight: 600;
}

.castList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 30px;
  list-style: none;
}

.castListItem {
  font-weight: 400;
  width: 250px;
}
.castListItem:not(:last-child) {
  margin-right: 8px;
}
